.floatIn {
    animation: float 1s ease-out forwards;
}

.floatInDelay {
    animation: float 1s ease-out 0.3s forwards;
    opacity: 0;
}

@keyframes float {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}